In [1]:
import pandas as pd

In [10]:
# Cargo el Archivo y veo los datos
df_Aire = pd.read_csv('df_C_Aire.csv')
df_Aire.head()

,unique_id,indicator_id,name,measure,measure_info,geo_type_name,geo_join_id,geo_place_name,time_period,start_date,data_value
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2011,2010-12-01T00:00:00.000,25.30
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,Annual Average 2009,2008-12-01T00:00:00.000,26.93
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,Annual Average 2015,2015-01-01T00:00:00.000,19.09
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,Annual Average 2015,2015-01-01T00:00:00.000,19.76
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,Annual Average 2009,2008-12-01T00:00:00.000,22.83

In [11]:
# Reviso los datos y verificamos presencia de nulos
df_Aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16218 entries, 0 to 16217
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unique_id       16218 non-null  int64
 1   indicator_id    16218 non-null  int64
 2   name            16218 non-null  object
 3   measure         16218 non-null  object
 4   measure_info    16218 non-null  object
 5   geo_type_name   16218 non-null  object
 6   geo_join_id     16218 non-null  int64
 7   geo_place_name  16218 non-null  object
 8   time_period     16218 non-null  object
 9   start_date      16218 non-null  object
 10  data_value      16218 non-null  float64
dtypes: float64(1), int64(3), object(7)
memory usage: 1.4+ MB

In [18]:
# Busco duplicados
df_Aire.duplicated().sum()

0

In [12]:
# Convierto la columna 'data_value' a tipo float
df_Aire['data_value'] = df_Aire['data_value'].astype(float)

In [13]:
# Utilizo la función extract y una expresión regular para extraer la estación
df_Aire['Stations'] = df_Aire['time_period'].str.extract(r'(Summer|Winter)', expand=False).fillna('Annual')

In [14]:
# Verifico los valores 
df_Aire['Stations'].unique()

array(['Annual', 'Winter', 'Summer'], dtype=object)

In [15]:
# Utilizo str.extract con una expresión regular para extraer el año y crear la nueva columna "Final Date"
df_Aire['Final Date'] = df_Aire['time_period'].str.extract(r'(\d{4})', expand=False)

# Elimino la columna "Time Period" si ya no se necesita
df_Aire.drop(columns=['time_period'], inplace=True)

df_Aire.head(5)

,unique_id,indicator_id,name,measure,measure_info,geo_type_name,geo_join_id,geo_place_name,start_date,data_value,Stations,Final Date
0,172653,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,2010-12-01T00:00:00.000,25.30,Annual,2011
1,172585,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,203,Bedford Stuyvesant - Crown Heights,2008-12-01T00:00:00.000,26.93,Annual,2009
2,336637,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,204,East New York,2015-01-01T00:00:00.000,19.09,Annual,2015
3,336622,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,103,Fordham - Bronx Pk,2015-01-01T00:00:00.000,19.76,Annual,2015
4,172582,375,Nitrogen dioxide (NO2),Mean,ppb,UHF34,104,Pelham - Throgs Neck,2008-12-01T00:00:00.000,22.83,Annual,2009

In [16]:
df_Aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16218 entries, 0 to 16217
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unique_id       16218 non-null  int64
 1   indicator_id    16218 non-null  int64
 2   name            16218 non-null  object
 3   measure         16218 non-null  object
 4   measure_info    16218 non-null  object
 5   geo_type_name   16218 non-null  object
 6   geo_join_id     16218 non-null  int64
 7   geo_place_name  16218 non-null  object
 8   start_date      16218 non-null  object
 9   data_value      16218 non-null  float64
 10  Stations        16218 non-null  object
 11  Final Date      16218 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 1.5+ MB

In [17]:
# Elimino las columnas que no aportan informaciion valiosa
df_Aire.drop(columns=['unique_id', 'indicator_id', 'geo_join_id', 'start_date'], inplace=True)

In [ ]:
# Guardo el dataset limpio
guardar = 'dataset_limpio_Aire.csv'
df_Aire.to_csv(guardar, index=False, encoding='utf-8')